<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email %>
    <em><%= f.label :email, "Email (required)" %></em><br />
  </div>

  <div class="field">
    <%= f.text_field :username %>
    <em><%= f.label :username, "Username (required)" %></em><br />
  </div>

  <div class="field">
    <%= f.text_field :name %>
    <em><%= f.label :name, "Name (required)" %></em><br />
  </div>

  <div class="field">
    <%= f.text_field :location %>
    <em><%= f.label :location, "Location (optional)" %></em><br />
  </div>

  <div class="field">
    <%= f.text_area :bio %>
    <em><%= f.label :bio, "Bio (optional)" %></em><br />
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off" %>
    <em><%= f.label :password, "Password (required)" %></em><br />
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <em><%= f.label :password_confirmation, "Confirm Password (required)" %></em><br />
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
