<div id="user-show">
  <div class="user-show-bio">
      <div class="user-image"><%= image_tag @user.avatar %></div>

      <div class="user-name"><%= @user.name %></div>
      <div class="user-username">@<%= @user.username %></div>

      <% unless @user.location == "" %>
      <div class="user-location">Location: <%= @user.location %></div>
      <% end %>
      <% unless @user.bio == "" %>
      <div class="user-bio">Bio: <%= @user.bio %></div>
      <% end %>
  </div>


  <div id="index">
    <div class="album-list-text">Album List:</div>
    <% @my_albums.each_with_index do |my_album, index| %>
      <div class="album">
        <ul>
          <div class="album-bar">
            <span class="album-pic"><%= image_tag my_album.art %></span>
            <span class="album-text">
              <%= index + 1 %>.
              "<%= my_album.title %>"
              by <%= my_album.artist %>
              — <%= my_album.rating %>
            </span>
          </div>
          <div class="sub-album-bar">
            <div class="user-review">
              <% useralbums = Album.where(title: my_album.title) %>
              <% useralbums.each do |useralbum| %>
                <% unless useralbum.user_id == @user.id %>
                  <ul>
                    <%= link_to(@users.find(useralbum.user_id).username, user_path(@users.find(useralbum.user_id).id)) %>
                    — <%= useralbum.rating %>
                  </ul>
                <% end %>
              <% end %>
            </div>
            <div class="my-review"><%= simple_format(my_album.notes) %></div>
            <%= embed(my_album.artist, my_album.title) %>
          </div>
        </ul>
      </div>
    <% end %>
  </div>
</div>
