<%= form_for(@album, multipart: true) do |q| %>
  <div class="ranking-field">
    <em><%= q.label :rating, "Rating (required) (0-10; decimals encouraged)" %></em>
    <span id="rating-form"><%= q.text_field :rating %><br /></span>
  </div>
  <div class="ranking-field">
    <div id="notes-label"><em><%= q.label :notes, "Notes (optional)" %></em></div>
    <div id="notes-form"><%= q.text_area :notes %><br /></div>
  </div>
  <div class="hidden-field">
    <%= q.hidden_field :artist, value: @album.artist %>
    <%= q.hidden_field :title, value: @album.title %>
    <%= q.hidden_field :art, value: @album.art %>
  </div>
  <div class="actions">
    <%= q.submit "Add to list" %>
  </div>
<% end %>
