<%= form_for(@album, multipart: true) do |q| %>
  <div class="field">
    <em><%= q.label :rating, "Rating (0-10, decimals encouraged)(required)" %></em>
    <%= q.text_field :rating %><br />
  </div>
  <div class="field">
    <em><%= q.label :notes, "Notes (optional)" %></em>
    <%= q.text_area :notes %><br />
  </div>
  <div class="hidden-field">
    <%= q.hidden_field :artist, value: @album.artist %>
    <%= q.hidden_field :title, value: @album.title %>
    <%= q.hidden_field :art, value: @album.art %>
  </div>
  <div class="actions">
    <%= q.submit "Add to list" %>
  </div>
<% end %>
