<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Year End" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="header">
    <div id="title"><%= link_to('Year End', root_path) %></div>
    <% if user_signed_in? %>
    <div id="biobar">
      <div id="biobar-image"><%= image_tag current_user.avatar %></div>
      <div class="biobar-item"><%= current_user.username %></div>
      <div class="biobar-item"><%= current_user.name %></div>
      <div class="biobar-item"><%= current_user.location %></div>
      <div class="biobar-item"><%= current_user.bio %></div>
      <div class="biobar-item"><%= link_to('Sign Out', destroy_user_session_path, method: :delete) %></div>
    </div>
    <% end %>
    </div>
    <div id="main">
    <div id="loginpage">
    <% unless user_signed_in? %>
    <%= link_to('Sign Up', new_user_registration_path) %>
    <%= link_to('Sign In', new_user_session_path)  %>
    <% end %>
    <%= notice %>
    <%= alert %>

    <%= yield %>
    </div>
    </div>
  </body>
</html>
